.detail {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    margin-top: 3rem;
}

.detail h1 {
    margin: 32px;
}

.detail img {
    border-radius: 3rem;
}

.detail h2 {
    margin: 32px;
    padding: 64px;
    background-color: aliceblue;
}

.detail h3 {
    margin: 32px;
    padding: 32px;
    background-color: rgb(85, 171, 28);
    color: white;
    font-size: 2rem;
    transition: .2s all ease;
}

.detail h3:hover {
    cursor: pointer;
    background-color: rgb(75, 151, 24);
}

